{% extends 'base.html.twig' %}

{% block title %}Ma Nouvelle Adresses- La boutique Francaise!{% endblock %}

{% block content %}

<h1>Mes Adresses</h1>


<hr>

{{ form(form) }}
<hr>
<a href="{{path('app_account')}}">Retour à mon compte</a> <br>
<hr>
{% endblock %}
