{% extends 'base.html.twig' %}

{% block title %}Mes Adresses- La boutique Francaise!{% endblock %}

{% block content %}
<a href="{{path('app_account_adress_add')}}" class="btn btn-info btn-sn float-end">Ajouter une Adresse</a>
<h1>Mes Adresses</h1>

C'est dans cet espace que vous pouvez gerer vos Adresses de livraisons
<hr>




{% if app.user.adresses|length == 0 %}
    Vous n'avez pas d'adresses enregistrées. Pour en ajouter une, <a href="http://">cliquez ICI</a>
{% endif %}
<hr>
<a href="{{path('app_account')}}">Retour à mon compte</a> <br>
<hr>
{% endblock %}
 