{% extends 'base.html.twig' %}

{% block title %}Mon Compte - La boutique Francaise!{% endblock %}

{% block content %}
<h1>mon Compte</h1>
Bienvenu {{app.user.firstname}} dans votre compte. <br>
C'est dans cet espace que vous pouvez gerer vos infos perso.
<hr>
<a href="{{path('app_account_password')}}">-Modifier mon mot de passe</a> <br>
<a href="{{path('app_account_adress')}}">-Ajouter / Modifier des adresses</a> <br>
-mes commandes <br>
<hr>
{% endblock %}
