{% extends 'base.html.twig' %}
{% block carousel %}
    
{% endblock %}
{% block content %}
<div class="row">
<h3>Nos Meilleurs Ventes</h3>
<p>Découvres nos Best-Selles, les Produits les plus vendus</p>
	{% for product in products %}
		<div class="col-md-3">
		{{ include('products/single_product.html.twig') }}
		</div>
	{% endfor %}
</div>
<!-- /.row -->


<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-md-7">
		<h2 class="featurette-heading fw-normal lh-1">Une équipe de professionnel
			<span class="text-muted"> au grand savoir faire.</span>
		</h2>
		<p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
	</div>
	<div class="col-md-5">
	<img src="{{ asset('upload/images/067_first.jpg') }}"  alt="tailleur" >	
	</div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
	<div class="col-md-7 order-md-2">
		<h2 class="featurette-heading fw-normal lh-1">Venez nous rencontrer dans 
			<span class="text-muted">nos boutiques en France</span>
		</h2>
		<p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
	</div>
	<div class="col-md-5 order-md-1">
	<img src="{{ asset('upload/images/067_second.jpg') }}" alt="Boutique" >	
	</div>
</div>

<hr class="featurette-divider">


<hr class="featurette-divider">
{% endblock %}